# Weighted Average in Pandas üêº

In [1]:
import pandas as pd

## Weighted Average of DataFrame

In [2]:
df = pd.DataFrame(
    {
        "Score": [20, 40, 90],
        "Weight": [1, 2, 3],
        "Assessment": ["Quiz", "Test", "Final Exam"],
    }
)
df

   Score  Weight  Assessment
0     20       1        Quiz
1     40       2        Test
2     90       3  Final Exam

In [3]:
# Calculation:
# (20 + 40 + 90) / 3 = 50
average = df["Score"].mean()
average

50.0

In [4]:
# Calculation:
# Step 1: (20 * 1) + (40 * 2) + (90 * 3) = 370
# Step 2: 370 / 6 = 61.67
weighted_avg = (df["Score"] * df["Weight"]).sum() / df["Weight"].sum()
weighted_avg

61.666666666666664

## Weighted Average of filtered DataFrame

In [5]:
df = pd.DataFrame(
    {
        "Score": [20, 40, 90, 80, 60, 10],
        "Weight": [1, 2, 3, 1, 2, 3],
        "Student": ["A", "A", "A", "B", "B", "B"],
        "Assessment": ["Quiz", "Test", "Final Exam", "Quiz", "Test", "Final Exam"],
    }
)
df

   Score  Weight Student  Assessment
0     20       1       A        Quiz
1     40       2       A        Test
2     90       3       A  Final Exam
3     80       1       B        Quiz
4     60       2       B        Test
5     10       3       B  Final Exam

### Return weighted average based on selection

In [6]:
df_filtered = df.query("Student == 'B'")
df_filtered

   Score  Weight Student  Assessment
3     80       1       B        Quiz
4     60       2       B        Test
5     10       3       B  Final Exam

In [7]:
weighted_avg = (df_filtered["Score"] * df_filtered["Weight"]).sum() / df_filtered["Weight"].sum()
weighted_avg

38.333333333333336

## Weighted Average Grouped

In [8]:
df = pd.DataFrame(
    {
        "Score": [20, 40, 90, 80, 60, 10, 5, 60, 90],
        "Weight": [1, 2, 3, 1, 2, 3, 1, 2, 3],
        "Student": ["A", "A", "A", "B", "B", "B", "C", "C", "C"],
        "Assessment": ["Quiz", "Test", "Final Exam", "Quiz", "Test", "Final Exam", "Quiz", "Test", "Final Exam"],
    }
)
df

   Score  Weight Student  Assessment
0     20       1       A        Quiz
1     40       2       A        Test
2     90       3       A  Final Exam
3     80       1       B        Quiz
4     60       2       B        Test
5     10       3       B  Final Exam
6      5       1       C        Quiz
7     60       2       C        Test
8     90       3       C  Final Exam

In [9]:
def grouped_weighted_avg(values, weights, by):
    return (values * weights).groupby(by).sum() / weights.groupby(by).sum()

In [10]:
grouped_weighted_avg(df["Score"], df["Weight"], df["Student"])

Student
A    61.666667
B    38.333333
C    65.833333
dtype: float64